/* RESET ********************************************* */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TYPOGRAPHY ***************************************** */

html {
  font-size: 100%;
} /*16px*/

body {
  background: white;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: hotpink;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

/* MAIN LAYOUT AND COLORS ******************************************************************/

body {
  margin: 0 1em;
  max-width: 800px;
  background: #222;
  color: #f4f4f4;
}

main:focus {
  outline: none;
}

a {
  color: deepskyblue;
}

a:hover {
  color: cyan;
}

code {
  color: lightgreen;
  background: #333;
  font-size: 130%;
}

@media (min-width: 768px) {
  body {
    margin: 0 auto;
  }
}

/* HEADER AND NAV **********************************************************/

header {
  background: rebeccapurple;
  color: #fff;
  margin: 2em 0;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
}

header nav,
header .content {
  display: flex;
  align-items: center;
}

header nav {
  flex-basis: 100%;
  flex-grow: 1;
}

header svg {
  flex-shrink: 1;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header h1,
header p {
  margin-left: 0.5rem;
}

header h1 {
  /** visually hidden */
  clip: rect(0 0);
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

header li:not(:last-child) {
  margin-right: 2rem;
}

header a {
  font-weight: bold;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

header a:hover {
  background: pink;
  border-radius: 1rem;
  color: #000;
}

header svg {
  stroke: #fff;
  fill: #fff;
  fill-opacity: 0.5;
  width: 100px;
  height: 100px;
}

/* Weird Demo ****************************************************/

.weird-demo {
  display: block;
  width: 100%;
}

.weird-demo circle {
  fill: none;
}

@media (prefers-reduced-motion: reduce) {
  .weird-demo {
    display: none;
  }
}
